/*  Copyright 2014 gokoururi
    This work is free. You can redistribute it and/or modify it under the
    terms of the Do What The Fuck You Want To Public License, Version 2,
    as published by Sam Hocevar. See the COPYING file for more details. */

body {
    /*background-image: url("../images/bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    */
}

.highlite {
    color: #d67b96;
}

main {
    background-color: #282A2E;
    opacity: .8;
    filter: alpha(opacity=80);
    border-color: #373B41;
}

h1 {
    color: #506c46;
}


.subtitle {
    color: #506c46;
}

.searchBar::-webkit-input-placeholder {
    color: rgba(0,0,0,0);
}
.searchBar {
    color: rgba(0,0,0,0);
    border-color: lightgrey;
}
.searchBar:hover {
    box-shadow: 0 0 5px #FFF;
    border-color: #FFF;
}
.searchBar:focus::-webkit-input-placeholder{
    color: rgba(100,100,100,1);
}
.searchBar:focus {
    color: rgba(100,100,100,1);
}
.google {
    background-image: url('../images/google.png');
}
.youtube {
    background-image: url('../images/youtube.png');
}
.wikipedia {
    background-image: url('../images/wikipedia.jpg');
}
.WowHead {
    background-image: url('../images/wow.png');
}
.wolfram {
    background-image: url('../images/wolfram.png');
}

/* Grey button */
.buttonGrey > a,
.buttonGrey > ul {
    color: #506c46;
    border-color: #373B41;
}
.buttonGrey > a,
.buttonGrey > ul > li > a {
    color: #445c3c;
    background: #1D1F21;
}
.buttonGrey > a:after {
    border-left-color: #373B41;
}
.buttonGrey:hover > a,
.buttonGrey > ul > li > a:hover {
    color: #171f14;
    background: #506c46;
}
.buttonGrey:hover > a,
.buttonGrey:hover > ul {
    border-color: #506c46;
}
.buttonGrey:hover > a:after {
    border-left-color: #171f14;
}

/* Green button */
.buttonGreen > a,
.buttonGreen > ul {
    border-color: #91b476;
}
.buttonGreen > a,
.buttonGreen > ul > li > a {
    color: #43644a;
    background: #729a64;
}
.buttonGreen > a:after {
    border-left-color: #91b476;
}
.buttonGreen:hover > a,
.buttonGreen > ul > li > a:hover {
    color: #222e1e;
    background: #506c46;
}
.buttonGreen:hover > a,
.buttonGreen:hover > ul {
    border-color: #506c46;
}
.buttonGreen:hover > a:after {
    border-left-color: #222e1e;
}

/* column standard colors */
.column {
    border-right-color: #373B41;
}
.column > a,
.column > ul > li:before {
    color: #1D1F21;
}
.column > a {
    text-shadow: 0 0.5px #373B41;
}
.column > ul > li > a {
    color: #506c46;
}


/* Row green highlite */
/*.columnGreen:hover > a,
.columnGreen:hover > ul > li:before {
    color: #171f14;
}
.columnGreen:hover > a {
    text-shadow: 0 0.5px #506c46;
}
.columnGreen > ul > li > a:hover {
    color: #506c46;
}*/
